<a href="https://colab.research.google.com/github/MMRES-PyBootcamp/MMRES-python-bootcamp2022/blob/main/solved_notebooks/01_Introduction_solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1 - Introduction (First part)
> A basic introduction to work with Python in Jupyter Notebooks. You will become familiar with *Jupyter Notebooks*. In addition, you will start to hear a bit of Python slang such as *variable*, *comment*, *built-in function*, *integer*, *float*, *string*, *boolean*... Finally, you will be introduced to some of the most fundamental Python operators, in particular to *arithmetic*, *comparison* and *logical* operators.

<div class="alert alert-block alert-success"><b>Practice:</b> Green cells announce exercises that you should try during the current boot camp session.
</div>

<div class="alert alert-block alert-warning"><b>Extension:</b> Yellow cells correspond to exercises (or links to contents) that are a bit more advanced. We recommend to try them after the current boot camp session.
</div>

<div class="alert alert-block alert-info"><b>Tip:</b> Blue cells are just tips or advice.
</div>

<div class="alert alert-block alert-danger"><b>Caveat:</b> Red cells warn you about the most common pitfalls one founds when starts his/her path learning Python.

</div>

## What is Python?

Python is a high-level, interpreted, general-purpose programming language created by [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum) in 1991.

- High code readability and easy to learn.
- Widely used in science and engineering.
- Huge community of users with lots of packages.

## What is a Jupyter Notebook?

Jupyter Notebook is a web-based interactive computational environment for creating documents that combine executable calculations and formatted text (for example, the document you are looking at right now). As we will see throughout the course, in a Jupyter Notebook we can combine code cells (with executable snippets and figures) and [Markdown](https://en.wikipedia.org/wiki/Markdown) cells (with text content), making make them pretty handy (in fact, the whole [MMRES Python boot camp](https://github.com/MMRES-PyBootcamp/MMRES-python-bootcamp2022) is made out of notebooks).

This is a *code cell*:

In [2]:
2 + 2

4

This is a *Markdown cell*:

2 + 2

The first thing to know when working with notebooks is that there are two modes:

+ **Command mode**: This mode is used to navigate or manipulate **whole cells**. We enter this mode with `Esc`. For example, we can take these actions just by hovering over notebook cells:
  - Move from cell to cell with the `↑`/`↓` keys.
  - Add a cell above/below the current one with `a`/`b`
  - Copy, cut and paste cell with `c`/`x`/`v`.
  - Change cell type to code or markdown with `y`/`m`.
  - Delete and undo with `d-d`/`z`.


+ **Edit mode**: This mode is used to edit **cells source content**. We enter this mode with with `Enter`. We can also enter edit mode just by double-clicking on any cell (command mode) and then just clicking again (edit mode).

Regardless of the mode, we can always run the cell with `Ctrl-Enter`, run and select the cell below with `Shift-Enter` and run and create a cell below with `Alt-Enter`.

<div class="alert alert-block alert-success"><b>Practice:</b>

1) Select this cell and try hitting `Enter` to see the source of this text.

In edit mode we can write and format the text. Changing to command mode with `Esc` will prevent us from editing but, now, the markdown source is visible.
    
2) In order to see the text as it was before we need to execute this cell: try with `Ctrl-Enter`.
3) Experiment with the Jupyter Notebook shortcuts. For instance, in command mode, create a cell *below* this one, switch to edit mode and type your name. Then, *execute* it with. Uh-oh... it's a *code* cell! Change the cell to *Markdown* and it'll be fine!

</div>

## Define variables

You can use code cells to make mathematical operations and return the corresponding output:

In [3]:
# Compute a sum a return the output
1 + 1

2

Sometimes you might need to store the output in a *variable* to use it later:

In [4]:
# Compute a sum and store the output in a variable called "integer_2"
integer_2 = 1 + 1

To recover the value of the stored variable:

In [5]:
# Recover the value of "integer_2"
integer_2

2

## Code comments

Did you noticed the code lines from the code cell above starting with an hash symbol (`#`)? They are *code comments*. The Python interpreter will skip all code lines starting with `#`. Comments are also handy to *temporarily* turn some lines off.

In [6]:
# This is just a comment



```
# Tiene formato de código
```

<div class="alert alert-block alert-info"><b>Tip:</b>

A well-commented code is always something to be thankful for. Try to keep your code nicely commented as far as possible. Anyone diving in your code will be very grateful (specially if that person is your future yourself). Jupyter Notebooks users can also devote Markdown cells to this aim.
</div>

## Built-in function `type()`

There are many variable types in Python: numerical types (such as [integer](https://docs.python.org/3/library/functions.html#int), [float](https://docs.python.org/3/library/functions.html#float), [complex](https://docs.python.org/3/library/functions.html#complex)), text types ([string](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)), sequence types ([list](https://docs.python.org/3/library/stdtypes.html#list), [tuple](https://docs.python.org/3/library/stdtypes.html#tuple), [range](https://docs.python.org/3/library/stdtypes.html#range)), set types ([set](https://docs.python.org/3/library/stdtypes.html#set), [frozenset](https://docs.python.org/3/library/stdtypes.html#frozenset)), mapping types ([dictionary](https://docs.python.org/3/library/stdtypes.html#dict)) and some other (for example [boolean](https://docs.python.org/3/library/stdtypes.html#boolean-values)). You can use the [buit-in Python function](https://docs.python.org/3/library/functions.html) [`type()`](https://docs.python.org/3/library/functions.html#type) to get the type of any variable.

<div class="alert alert-block alert-success"><b>Practice:</b>

1) In the 1st code cell below, get the type of the variable `integer_2` 
2) In the 2nd one, store the result of the sum `1.0 + 1.0` in a variable called `float_2`.
3) In the 3rd one, get the type of the variable `float_2`.
4) In the 4th one, compute `integer_2 + float_2`.

</div>

In [7]:
# Get the variable type of `integer_2`

In [8]:
# Get the variable type of `integer_2`
type(integer_2)

int

In [9]:
# Compute a sum and store the output in `float_2`

In [10]:
# Compute a sum and store the output in `float_2`
float_2 = 1.0 + 1.0

In [11]:
# Get the variable type of `float_2`

In [12]:
# Get the variable type of `float_2`
type(float_2)

float

In [13]:
# Compute the sum of `integer_2 + float_2`

In [14]:
# Compute the sum of `integer_2 + float_2`
integer_2 + float_2

4.0

String variables are always surrounded by single `'` or double `"` apostrophe marks.

In [15]:
# Store a string value in the "string_2" variable
string_2 = "2"

As you might guess, you can't mix numerical (integer or float) with string data types:

In [16]:
# Try adding integers and strings
integer_2 + string_2

TypeError: ignored

<div class="alert alert-block alert-warning"><b>Extension:</b>

There are some built-in Python functions that can be used to change the data type of a variable (if possible). Have a look to [`int()`](https://docs.python.org/3/library/functions.html#int), [`float()`](https://docs.python.org/3/library/functions.html#float) and [`str()`](https://docs.python.org/3/library/functions.html#func-str) buit-ins.

</div>

We will cover some of the remaining data types mentioned above in upcoming sessions. List, dictionary and boolean data types are ubiquitously used in Python.

## Built-in function `print()`

To recover the value of multiple variables in a single code cell, you might need the [`print()`](https://docs.python.org/3/library/functions.html#print).

In [17]:
# This cell only returns the value stored in `string_2` (the last one called)
integer_2
string_2

'2'

In [18]:
# This cell instead returns both values
print(integer_2)
print(string_2)

2
2

In [19]:
# Or alternatively...
print(integer_2, string_2)

2 2

In [20]:
# And maybe in a more readable way...
print(integer_2, string_2, sep=' and ', end='.')

2 and 2.

<div class="alert alert-block alert-info"><b>Info:</b>

We just used our first two **function arguments**: `sep=` and `end=`. Arguments are just variables passed to a function that the function will use internally. Don't worry about this at the moment, just try to understand what arguments `sep=` and `end=` do.

</div>

The `print()` built-in is essential when we want a program to give an easy readable text messages to the human in front the screen. In this context you should know how to use [formatted strings](https://docs.python.org/3/tutorial/inputoutput.html#tut-f-strings) (AKA f-strings).

To use f-strings you just have to precede your string with the letter `f`. Once this fancy `f` is in place, you can use braces `{}` to allocate any variable you wish in your sentence:

In [21]:
# Give a nicely formatted text message
print(f'I have two twos. An integer two: {integer_2}; and an string two: {string_2}.')

I have two twos. An integer two: 2; and an string two: 2.

<div class="alert alert-block alert-warning"><b>Extension:</b>

Have a look on how to properly format numerical variables when using [f-strings](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) and, if you seek a full control over how numerical values are formatted, check the [Format Specification Mini-Language](https://docs.python.org/3/library/string.html#formatspec) as well.

</div>

## Arithmetic operators

The seven arithmetic operators available in Python are: 
+ `+`: Addition.
+ `-`: Subtraction.
+ `*`: Multiplication.
+ `/`: Division.
+ `**`: Exponentiation.
+ `//`: Floor division. Returns the result of dividing the left hand operand by right hand operand rounded down to the nearest whole number.
+ `%`: Modulus. Returns the remainder of dividing the left hand operand by right hand operand.

In [22]:
# Get the floor division between 9 and 4
floor_division = 9 // 4
print(f'Floor divison example: 9 // 4 = {floor_division}')

# Get the modulus between 9 and 4
modulus = 9 % 4
print(f'Modulus example: 9 % 4 = {modulus}')

Floor divison example: 9 // 4 = 2
Modulus example: 9 % 4 = 1

## Comparison operators

The six comparison operators available in Python are: 
+ `==`: Equal.
+ `!=`: Not equal.
+ `>`: Greater than.
+ `<`: Less than.
+ `>=`: Greater than or equal to.
+ `<=`: Less than or equal to.

When we compare two items by means of a comparison operator we create a conditional statement. The outcome of a conditional statement can only be `True` or `False` (you can rethink such conditional statements as questions whose outcomes are "black or white" answers).

In [23]:
# Remember the values of the variables `integer_2`, `float_2` and `string_2`
print(integer_2)
print(float_2)
print(string_2)

2
2.0
2

In [24]:
# Check if `integer_2` is equal to `float_2`
integer_2 == float_2

True

In [25]:
# Check if `integer_2` is equal to `string_2`
integer_2 == string_2

False

Python is clever enough to conclude that `2` is equal to `2.0` and discern that `2` (numerical) is not equal than `'2'` (text). Remember that the output of such questions is always *boolean*. This means that it can only take two possible outcomes: `True` or `False`:

In [26]:
# Store the answer of check if `integer_2` is `string_2` in a variable called `answer`
answer = integer_2 == string_2

# Get the variable type of `answer`
type(answer)

bool

In [27]:
# Check if a boolean True is equal to a string True
True == 'True'

False

<div class="alert alert-block alert-success"><b>Practice:</b>

Remember the floor division and the modulus arithmetic operators we talk about a while ago. Being $a$ and $b$ two arbitrary numbers, $f_{ab}$ their floor division and $m_{ab}$ their modulus, then the following expression is verified:
$$ a = m_{ab} + b  f_{ab}$$

1) In the 1st code cell below, check that the expression is verified by any $a$ and $b$.
2) In the 2nd one, only in case of the expression above not being verified, check the value of $ m_{ab} + b  f_{ab}$ that you computed. What happened?    
    
</div>

In [28]:
# Define a couple of arbitrary values `a` and `b`



# Compute floor and modulus `f_ab` and `m_ab`



# Check if we can recover the value of `a` from the values of `b`, `f_ab` and `m_ab`

In [29]:
# Define a couple of arbitrary values values `a` and `b`
a = 9
b = 4

# Compute floor and modulus `f_ab` and `m_ab`
f_ab = a // b
m_ab = a % b

# Check if we can recover the value of `a` from the values of `b`, `f_ab` and `m_ab`
a == m_ab + b * f_ab

True

In [30]:
# Return the `a` value that you computed

In [31]:
# Return the `a` value that you computed
a

9

## Logical operators

Logical operators are used to combine conditional statements. The three logical operators available in Python are: 
+ `and`: Returns `True` if both statements are `True`.
+ `or`:  Returns `True` if one of the statements is `True`.
+ `not`: Reverse the result, returns `False` if the result is `True` and vice versa.

In [32]:
# Check if `integer_2` is equal to `float_2` AND `integer_2` is equal to `string_2`
integer_2 == float_2 and integer_2 == string_2

False

In [33]:
# Check if `integer_2` is equal to `float_2` OR `integer_2` is equal to `string_2`
integer_2 == float_2 or integer_2 == string_2

True

In [34]:
# Check again if `integer_2` is equal to `float_2` OR `integer_2` is equal to `string_2` and REVERSE the outcome
not (integer_2 == float_2 or integer_2 == string_2)

False